<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @DateTime.Now.ToString("yyyy年MM月dd日 ")
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="http://www.baeit.com" target="_blank">长春佳盟信息科技有限责任公司</a>.</strong> All rights reserved.
</footer>